<div class="panel panel-default" ng-init="getMovies()">
    <div class="panel-heading">
        <h2 class="panel-title">Latest Movies</h2>
        <input ng-model="query" placeholder="Search" type="text"/><br>
    </div>
    <div class="panel-body">
        <div class="row">
            <div ng-repeat="movie in movies | filter:query"">
                <div class="col-md-6">
                    <div class="col-md-6">
                        <h4>{{movie.title}}</h4>
                        <p>{{movie.description}}</p>
                        <a class="btn btn-primary" href="movies/details/{{movie._id}}">View Details</a>
                    </div>
                    <div class="col-md-6">
                        <img class="thumbnail" ng-src="{{movie.imgUrl}}">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>