<div class="panel panel-default" ng-init="getMovies()">
    <div class="panel-heading">
        <h2 class="panel-title">Latest Movies</h2>
        <input ng-model="query" placeholder="Search" type="text"/>
        <label>Order By:</label>
        <select ng-model="sortMovie">
            <option value="title">Name</option>
            <option value="gender">Gender</option>
            <option value="release">Release</option>
            <option value="rating">Rating</option>
        </select>
    </div>
    <div class="panel-body">
        <div class="row">
            <div ng-repeat="movie in movies | filter:query | orderBy:sortMovie | startFrom:currentPage*pageSize | limitTo:pageSize">
                <div class="col-md-6">
                    <div class="col-md-6">
                        <h4>{{movie.title}}</h4>
                        <p>{{movie.description}}</p>
                        <a class="btn btn-primary" href="movies/details/{{movie._id}}">View Details</a>
                    </div>
                    <div class="col-md-6">
                        <img class="thumbnail" ng-src="{{movie.imgUrl}}">
                    </div>
                </div>
            </div>

        </div>
        <div class="text-center">
            <button ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
                Previous
            </button>
            {{currentPage+1}}/{{movies.length/2}}
            <button ng-disabled="currentPage >= movies.length/pageSize - 1" ng-click="currentPage=currentPage+1">
                Next
            </button>
        </div>
    </div>
</div>